html {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primery-footer-text-color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}

.list-style {
  list-style-type: none;
}
.primery-text-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  max-width: 1600px;
}

/* header */
/* nav-header */
/* logo */

.logo {
  color: var(--secondary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .title {
  color: var(--accent-text-color);
}

/* nav-inner */
.nav-inner {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-inner .header-link {
  color: var(--secondary-text-color);
}
.nav-inner .header-link:hover,
.nav-inner .header-link:focus {
  color: var(--accent-text-color);
}

/* conntacs */

.contact-link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

/* hero section */
.hero-section {
  background-color: tomato;
}
.hero-title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* advantages section */
.second-section {
}

.advantages-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* works section */
.works-section {
}

.works-title {
  background-color: var(--primery-text-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* team section */
.team-section {
}
.team-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* filter-nav*/

.filters {
}

.link-filter {
  color: black;
  background-color: #f5f4fa;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.link-filter:hover,
.link-filter:focus {
  color: var(--third-text-color);
  background-color: #2196f3;
}

/* portfolio */

.portfolio-page {
}
.portfolio-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filtr-title {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-text {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
}

/* footer */
.footer-block {
  background-color: #2f303a;
}

/*footer-logo */
.footer-logo {
  color: var(--third-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* footer contacts */
.footer-logo .title {
  color: var(--accent-text-color);
}
.footer-address {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover {
  color: var(--accent-text-color);
}

.footer-title {
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* subscription */
.button {
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.logo-img {
  width: 13px;
}
.footer-block .subscription {
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* page down */

.footer-line {
  color: rgba(255, 255, 255, 0.1);
}

.contacts-down {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}
